/* below is all the CSS for the navigation bar */
/* Please add this all in your personal html file */
/* also remember, the border around the navigation bar is for visibility and will be removed when all css is merged into one files, remove it now if you don't need it */
@import url('../css/switzer.css');

* {
    font-family: 'Switzer-Regular';
}
/* Navigation bar */
header{
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 58%;
    height: 56px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    align-items: center;
    border-radius: 45px;
    margin: auto;
    border: #000 dashed 1px; /* Border helps make the navigation bar more visible for development, delete once no longer needed */
}
/* All anchor elements in the navigation bar */
header a{
    text-decoration: none;
    color: #000;
}
/* Navigation element in the navigation bar */
header nav{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 24px;
}

/* Navigation buttons within the navigation bar */
.pagenav div{

    margin-left: 24px;
    display:flex;
}

/* Text within the navigation buttons */
.pagenav div a{
    align-self: center;
    margin-left: 5px;
    text-decoration: none;
    color: #000;
}

/* Navigation button icons */
.pagenav div img{
    width: 16px;
}

/* The div for the page title and company icon in the navigation bar */
.pagelogo{
    padding: 10px;
    display: flex;
    border-radius: 40px;
    margin-left: 10px;
}

/* The page title in the navigation bar */
.pagelogo a{
    margin-left:8px;
    margin-right:5px;
    align-self: center;
    font-family: 'Switzer-Semibold';
    font-size: 20px;
}

/* The company icon in the navigation bar */
.pagelogo img{
    align-content: center;
    width: 24px;
    height: 24px;
}

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 24px;
    font-size: 12px;
    width: 150px;
}

.contact-emoji {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 8px;
    border-radius: 50px;
    background-color: #FCEED6;
    
}




#about-html, #about-html body {
    margin: 0;
    height: 100%;      
    overflow-x: hidden; 
}


#about-heading{
    background-image: url("../images/about-effect.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;

    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    


    
   
}

#about-heading h1{
    background-image: url("../images/big-glow.svg");
    background-position: center;
    background-repeat: no-repeat;
    
   

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
   

    height: 700px;
    width: 700px;

    font-size: 70px;

    color: white;
    font-family: 'Switzer-Regular';

    

}

#about-heading p{
    justify-content: center;

    color: grey;
    font-family: 'Switzer-Regular';
}


#team{
    padding: 40px;
}

#team-lists{
    display: flex;
 
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

#team h1{
    text-align: center; 
    font-family: 'Switzer-Regular';
    font-size: 50px;
}

#team-roles, .team-members{
    width: 40%;
}

#team-members{
    display: flex;
    justify-content: center;
   
}

#team img {
    
    margin: 30px auto 0 auto; 
    width: 350px;
    height: auto;
    border-radius: 15%;
  }






#team-members{
    
    padding: fit-content;
    border-collapse: separate;
    
}
#team-members table{
    border-radius: 25px;
    border: 2px solid #E1E4E8;
    border-spacing: 0px;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}
td, th{
    width: 200px;
}
thead tr th{
    background-color: #F0F0F0;
    margin: 0;
}
thead tr th:first-child{
    border-radius: 23px 0 0 0;
}
thead tr th{
    border-right: #E1E4E8 solid 2px;
}
thead tr th:last-child{
    border-radius: 0 23px 0 0;
    border-right: none;
}
tbody td {
    border-right: #E1E4E8 solid 2px;
    border-radius: 0px;
}
tbody td:last-child {
    border-right: none;
}
th ,tr{
    margin: 0;
    font-size: 18px;
    
    text-align: left;
    padding: 20px 20px 20px 20px;
}

td {
    padding: 8px 8px 8px 20px;

    border-radius: 15px;
}



#sponsor{
    background-color: lightgray;
    display: grid;
    text-align: center;
    font-size: 40px;
    align-items: center;
}


#tutor{
    padding: min-content;
    width: 60%;
    height: 104px;
    background-color: white;
    border-radius: 32px;
    border: #E1E4E8 solid 2px;
    justify-self: center;
    display:flex;
    flex-direction: row;
    margin-bottom: 93px;
    justify-content: center;
    align-items: center;
    text-align: center;


    font-size: 20px;
}
#tutor img{
    width: 56px;
    height: auto;
    border-radius: 15%;
    margin-right: 20px;
}
#tutor h1{
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-family: 'Switzer-Medium';
}
.detail{
    font-family: 'Switzer-Regular';
    color:grey;
}

.circle{
    background-image: url('../images/text-circle.svg');
    background-position: center;
    background-repeat: no-repeat;
}

#underline{
    
    background-image: url('../images/text-underline.svg');
    background-position: bottom;
    background-repeat: no-repeat;
}




* {
    font-family: 'Switzer-Regular';
}

/*

Old footer styling, keeping it just in case

footer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    background-color: white;
    border: #E1E4E8 solid 1px;
    width: 46.67%;
    height: 4.5em;
    border-radius: 2.35em;
    bottom: 10px;
}


#footer-logo {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1;
}

#footer-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    margin-left: 24px;
    flex: 1;
}


#footer-logo img {
    position: absolute;
}

#footer-logo iframe {
    border-radius: 100%;
}

.menu-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    gap: 4px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
} 

#jira-button {
    background-color: #E1E4E8;
    color: #6F767D;
    height: 1.5rem;
    width: 6rem;
    font-size: 0.75em;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
    margin-right: 24px;
    display: inline-flex; 
    align-items: center;
    justify-content: center; 
    gap: 4px;
    margin-left: auto;
    padding: 4px 12px 4px 12px;
    width: fit-content;
}
*/

footer {
    display: flex;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 128px;
    height: 180px;
    padding-left: 25%;
    padding-right: 25%;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, rgba(252,238,214,0), rgba(252,238,214,1));
    align-items: center;
    justify-content: space-between;
    
}
footer a{
    display: flex;
}
footer div{
    display: flex;
    justify-self: flex-start;
}
footer div img{
    margin-right: 4px;
}
#footlogo{
    justify-self: center;
}
#jira{
    justify-self: flex-end;
    background-color: #E1E4E8;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
    margin-left: 56px;
    border-radius: 12px;
    text-decoration: none;
}
#jira p{
    margin-right: 4px;
    font-size: 12px;
    font-family: switzer-medium;
    color: #6F767D;
    margin-top: 0;
    margin-bottom: 0;
}
#jira img{
    width: 12px;
    height: 12px;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
}
#footer-jobs{
    margin-right: 24px;
}