#app-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 16px;
}

.app-card {
    display: grid;
    grid-template-areas:
        "id status"
        "name name";
    grid-template-columns: min-content auto;
    grid-template-rows: 1fr 1fr;
    border: 1px solid #E1E4E8;
    border-radius: 32px;
    width: 23%;
    min-width: 200px;
    height: 200px;
    margin-bottom: 32px;
}
.app-card h3 {
    grid-area: id;
    font-size: 1.5em;
    background-color: #E1FBE1;
    margin: 0;
    margin-top: 0.5em;
    margin-left: 0.5em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 32px;
    height: fit-content;
}
.app-card p {
    grid-area: status;
    background-color: #E1FBE1;
    color: #36D635;
    height: fit-content;
    padding: 0.1em 0.5em;
    border-radius: 0.7em;
    float: right;
    margin-left: auto;
    margin-right: 0.5em;
}
.app-card h2 {
    grid-area: name;
    font-size: 1.2em;
    margin: 0;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 32px;
}