/* Index.html styling*/
/*Merge into styles.css when project is being polished */
@import url('../css/switzer.css');

* {
    font-family: 'Switzer-Regular';
}
/* Navigation bar */
header{
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 46.67%;
    height: 56px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    align-items: center;
    border-radius: 45px;
    margin: auto;
    margin-top: 8px;
    border: #000 dashed 1px; /* Border helps make the navigation bar more visible for development, delete once no longer needed */
}

/* All anchor elements in the navigation bar */
header a{
    text-decoration: none;
    color: #000;
}
/* Navigation element in the navigation bar */
header nav{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 24px;
}

/* Navigation buttons within the navigation bar */
.pagenav a{
    text-decoration: none;
    margin-left: 24px;
    display:flex;
}

/* Text within the navigation buttons */
.pagenav a p{
    align-self: center;
    margin-left: 5px;
    color: #000;
}

/* Navigation button icons */
.pagenav a img{
    width: 16px;
}

/* The div for the page title and company icon in the navigation bar */
.pagelogo{
    padding: 10px;
    display: flex;
    border-radius: 40px;
    margin-left: 10px;
}

/* The page title in the navigation bar */
.pagelogo p{
    margin-left:8px;
    margin-right:5px;
    align-self: center;
    font-family: 'Switzer-Semibold';
    font-size: 20px;
}

/* The company icon in the navigation bar */
.pagelogo img{
    align-self: center;
    width: 24px;
    height: 24px;
}

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 24px;
    font-size: 12px;
    width: 150px;
}

.contact-emoji {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 8px;
    border-radius: 50px;
    background-color: #FCEED6;
    
}

/* main */


/* Welcome section */

/* Section tag */
#welcome{
    display: flex;
    padding-top: 136px;
    margin-left: 22%;
    margin-bottom: 250px;
    width: 60%;
    flex-direction: column;

}

#welcome h1{
    font-family: Switzer-Regular;
    font-size: 6.2vw;
    float: left;
    width: 900px;
    margin-bottom: 0px;
    color: #271B03;
}

#welcome p{
    font-family: 'Switzer-Regular';
    font-size: 1.4vw;
    float: left;
    width: 450px;
    color: #271B03;
    opacity: 60%;
}

#welcome img{
    width: 25vw;
    margin-top: 70px;
    margin-left: 34%;
    justify-self: flex-end;
    float: left;
    position: absolute;
    z-index: -1;
}
#welcome div {
    display: inline;
    margin-top: 37.5px;
}
#welcome div a {
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    border-radius: 16px;
    font-size: 16px;
}
#start {
    background-color: #F0A214;
    color: #fff;
}
#contact {
    background-color: #fff;
    color: #000;
}

#benefits {
    display:flex;
    float: center;
    margin-left: 19%;
    margin-right: 19%;
    justify-content: center;
    gap: 16px;
    width: 62%;

}
#benefits div {
    border: #E1E4E8 solid 1px;
    width:15vw;
    height: 208px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1.5em 1.5em 1.5em;
    grid-template-areas: "img head"
                         "title title"
                         "subtext subtext";
    align-content: center;
    justify-content: center;
    text-align: center;
}

#benefits div img {
    grid-area: img;
    justify-self: flex-end;
    align-self: center;
}
.benefithead {
    grid-area: head;
    align-self: center;
    margin-left: 6px;
    justify-self: flex-start;
    font-size: 28px;
    color: #14191D;
}
.benefittext {
    grid-area: title;
    color: #14191D;
}
.benefitsubtext {
    grid-area: subtext;
    color: #858C93;
}
.benefittext, .benefitsubtext {
    font-size: 20px;
}
#discover {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 56px;
    margin-top: 128px;
}
#discover h3 {
    font-size: 50px;
    color: #14191D;
    font-family: 'Switzer-semibold';
    margin: 0;
}
#discover h3 span {
    /* font family should be changed once the font file is added, current font is temporary */
    font-family:Impact, 'Arial Narrow Bold';
    color: #F0A210;
}
#discover h2 {
    font-family: 'Switzer-Regular';
    font-size: 20px;
    color: #14191D;
    margin: 0;
    margin-top: 35px;
}
#discover a {
    background-color: #F0A214;
    color: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    margin-top: 24px;
}
#discover a p{
    margin: 0;
}
#explore {
    margin-left: 22%;
    margin-right: 22%;
}
#explore article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    height:500px;
    margin-top: 24px;
}
#explore h3 {
    font-size: 60px;
    color: #14191D;
    font-family: 'Switzer-semibold';
    margin: 0;
    margin-top: 128px;
    align-self: flex-start;
    justify-self: flex-start;
}
#explore article iframe {
    width: 100%;
    height: inherit;
    border: 0;
    z-index: -1;
    position: absolute;
    border-radius: 32px;
}
#explore article h4 {
    font-size: 50px;
    margin: 0px;
    margin-top: 70px;
    z-index: 1;
}
#explore article p {
    font-size: 20px;
    color: #14191D;
    margin: 0;
    margin-top: 16px;
    z-index: 1;
}
#explore article a {
    font-size: 20px;
    background-color: #F0A214;
    margin: auto;
    color: #fff;
    border-radius: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    margin-top: 24px;
    z-index: 1;
}
#explore article .gradient {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
    z-index: 0;
    pointer-events: none; 
}