/* Fletcher's code - Merge into styles.css when project is being polished */
@import url('../css/switzer.css');

* {
    font-family: 'Switzer-Regular';
}
/* Navigation bar */
header{
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 58%;
    height: 56px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    align-items: center;
    border-radius: 45px;
    margin: auto;
    border: #000 dashed 1px; /* Border helps make the navigation bar more visible for development, delete once no longer needed */
}
/* All anchor elements in the navigation bar */
header a{
    text-decoration: none;
    color: #000;
}
/* Navigation element in the navigation bar */
header nav{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 24px;
}

/* Navigation buttons within the navigation bar */
.pagenav div{

    margin-left: 24px;
    display:flex;
}

/* Text within the navigation buttons */
.pagenav div a{
    align-self: center;
    margin-left: 5px;
    text-decoration: none;
    color: #000;
}

/* Navigation button icons */
.pagenav div img{
    width: 16px;
}

/* The div for the page title and company icon in the navigation bar */
.pagelogo{
    padding: 10px;
    display: flex;
    border-radius: 40px;
    margin-left: 10px;
}

/* The page title in the navigation bar */
.pagelogo a{
    margin-left:8px;
    margin-right:5px;
    align-self: center;
    font-family: 'Switzer-Semibold';
    font-size: 20px;
}

/* The company icon in the navigation bar */
.pagelogo img{
    align-content: center;
    width: 24px;
    height: 24px;
}

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 24px;
    font-size: 12px;
    width: 150px;
}

.contact-emoji {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 8px;
    border-radius: 50px;
    background-color: #FCEED6;
    
}


/* Welcome section */

/* Section tag */
#welcome{
    display: flex;
    padding-top: 136px;
    margin-left: 19%;
    margin-bottom: 250px;
    width: 1136px;
    flex-direction: column;
}

#welcome h1{
    font-family: 'Switzer-Regular';
    font-size: 90px;
    float: left;
    width: 900px;
    margin-bottom: 0px;
    color: #271B03;
}

#welcome p{
    font-family: 'Switzer-Regular';
    font-size: 20px;
    float: left;
    width: 450px;
    color: #271B03;
    opacity: 60%;
}

#welcome img{
    width: 480px;
    margin-top: 70px;
    align-self: flex-end;
    position: absolute;
}
#welcome div {
    display: inline;
    margin-top: 37.5px;
}
#welcome div a {
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    border-radius: 16px;
    font-size: 16px;
}
#start {
    background-color: #F0A214;
    color: #fff;
}
#contact {
    background-color: #fff;
    color: #000;
}

#promises {
    display:flex;
    justify-self: center;
    justify-content: space-between;
    width: 900px;
    margin-left: 19%;

}
#promises div {
    border: #E1E4E8 solid 1px;
    width:288px;
    height: 208px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1.5em 1.5em 1.5em;
    grid-template-areas: "img head"
                         "title title"
                         "subtext subtext";
    align-content: center;
    justify-content: center;
    text-align: center;
}

#promises div img {
    grid-area: img;
    justify-self: flex-end;
    align-self: center;
}
.benefithead {
    grid-area: head;
    align-self: center;
    font-size: 28px;
}
.benefittext {
    grid-area: title;
}
.benefitsubtext {
    grid-area: subtext;
}
.benefittext, .benefitsubtext {
    font-size: 20px;
}