@import url('color.css');
@import url('type.css');
* {
  font-family: Switzer, sans-serif;
  font-weight: 400;
}

/* Alert */
.alert {
  position: fixed;
  left: 50%;
  bottom: -8px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  max-width: fit-content;
  padding: 16px 32px 16px 32px;
  border-radius: 9999px;
  opacity: 0;

  animation-name: alert-animate-in, alert-animate-out;
  animation-duration: 0.5s, 0.5s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 1s, 6s;
  animation-fill-mode: forwards, forwards;
  animation-iteration-count: 1, 1;
}


#alert-success {
  background-color: var(--color-blue-100);
  color: var(--color-semantic-success);
}

#alert-info {
  background-color: var(--color-grey-100);
  color: var(--color-semantic-info);

}

#alert-warning {
  background-color: var(--color-amber-100);
  color: var(--color-semantic-warning);
}

#alert-danger {
  background-color: var(--color-red-100);
  color: var(--color-semantic-danger);
}

@keyframes alert-animate-in {
  0% {
    bottom: -64px;
    opacity: 0;
  }
  50% {
    bottom: 4px;
    opacity: 1;
  }
  90% {
    bottom: -6px;
    opacity: 1;
  }

  100% {
    bottom: -8px;
    opacity: 1;
  }
}

@keyframes alert-animate-out {
  0% {
    bottom: -8px;
    opacity: 1;
  }
  50% {
    bottom: 4px;
    opacity: 1;
  }
  90% {
    bottom: -64px;
    opacity: 0;
  }

  100% {
    bottom: -64px;
    opacity: 0;
  }
}

/* Avatar */
.avatar-wrapper {
  display: flex;
  align-items: center;
}

.avatar-wrapper p {
  margin: 0;
  padding: 0;
}

.avatar {
  border-radius: 9999px;
  background-color: var(--color-grey-100);
}

#avatar-small {
  width: 24px;
  height: 24px;
  font-size: 12px;
  margin-right: 4px;
}

.avatar-size-small p {
  font-size: 12px;
}

#avatar-normal {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.avatar-size-normal p {
  font-size: 16px;
}

#avatar-large {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.avatar-size-large p {
  font-size: 20px;
}

/* Badge */

.badge {
  display: inline-flex;
  gap: 20px;
  border-radius: 9999px;
  text-align: center;
}

.badge p {
  margin: 0;
  padding: 0;
}


#badge-small {
  padding: 2px 6px 2px 6px;
}

#badge-small p {
  font-size: 8px;
}

#badge-normal {
  padding: 2px 8px 2px 8px;
}

#badge-normal p {
  font-size: 12px;
}

#badge-large {
  padding: 2px 12px 2px 12px;
}

#badge-large p {
  font-size: 16px;
}