@import url('color.css');
@import url('type.css');
@import url('components.css'); /* It is much easier to divide all reuseable components in a seperate css file  */

:root {
    --border-radius-6: 6px;
    --border-radius-8: 8px;
    --border-radius-12: 12px;
    --border-radius-16: 16px;
    --border-radius-24: 24px;
    --border-radius-32: 32px;
    --border-radius-40: 40px;
    --border-radius-full: 9999px;

    --opacity-10: 10;
    --opacity-25: 25;
    --opacity-40: 40;
    --opacity-60: 60;
    --opacity-80: 80;
    --opacity-90: 90;
}

* {
  font-family: Switzer, sans-serif;
  font-weight: var(--font-weight-regular);
}

body {
  margin: 0;
  padding: 0;

}

body > *:not(.topbar) {
  opacity: 0;
  transform: translateY(16px);
  animation: body-load-in 800ms ease-in-out 100ms forwards;
}

@keyframes body-load-in {
  from {
    transform: translateY(16px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* //////////////////////// Error Page //////////////////////// */
.error-body {
  padding: 0;
  margin: 16px 0px 0px 0px;
}

.logo-error {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-red-1100);
  font-weight: var(--font-weight-semibold);
  gap: 4px;
  padding: 8px 16px;
  width: fit-content;
  margin: 0 auto;
  border-radius: var(--border-radius-full);

  .icon {
    color: var(--color-red-500)
  }

}

.error-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: -1;
}

.error-contents {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  
  h3 {
    text-align: center;
    font-size: var(--font-size-header-3);
    font-weight: var(--font-weight-medium);
  }

  .badge {
    position: absolute;
    top: 40px;
    right: -96px;
    transform: rotate(15deg);
    animation: badge-shake 9s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
}
/* //////////////////////// End Error Page //////////////////////// */