@import url('color.css');
@import url('type.css');
* {
  font-family: Switzer, sans-serif;
  font-weight: 400;
}

/* Alert */
.alert {
  position: fixed;
  left: 50%;
  bottom: -8px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  max-width: fit-content;
  padding: 16px 32px 16px 32px;
  border-radius: 9999px;
  opacity: 0;

  animation-name: alert-animate-in, alert-animate-out;
  animation-duration: 0.5s, 0.5s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 1s, 6s;
  animation-fill-mode: forwards, forwards;
  animation-iteration-count: 1, 1;
}


#alert-success {
  background-color: var(--color-blue-100);
  color: var(--color-semantic-success);
}

#alert-info {
  background-color: var(--color-grey-100);
  color: var(--color-semantic-info);

}

#alert-warning {
  background-color: var(--color-amber-100);
  color: var(--color-semantic-warning);
}

#alert-danger {
  background-color: var(--color-red-100);
  color: var(--color-semantic-danger);
}

@keyframes alert-animate-in {
  0% {
    bottom: -64px;
    opacity: 0;
  }
  50% {
    bottom: 4px;
    opacity: 1;
  }
  90% {
    bottom: -6px;
    opacity: 1;
  }

  100% {
    bottom: -8px;
    opacity: 1;
  }
}

@keyframes alert-animate-out {
  0% {
    bottom: -8px;
    opacity: 1;
  }
  50% {
    bottom: 4px;
    opacity: 1;
  }
  90% {
    bottom: -64px;
    opacity: 0;
  }

  100% {
    bottom: -64px;
    opacity: 0;
  }
}

/* Avatar */
.avatar-wrapper {
  display: flex;
  align-items: center;
}

.avatar-wrapper p {
  margin: 0;
  padding: 0;
}

.avatar {
  border-radius: 9999px;
  background-color: var(--color-grey-100);
}

#avatar-small {
  width: 24px;
  height: 24px;
  font-size: 12px;
  margin-right: 4px;
}

.avatar-size-small p {
  font-size: 12px;
}

#avatar-normal {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.avatar-size-normal p {
  font-size: 1px;
}

#avatar-large {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.avatar-size-large p {
  font-size: 20px;
}

/* Badge */
.badge {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  border-radius: 9999px;
  text-align: center;

  p { padding: 0; margin: 0; }

  &.small {
    padding: 2px 6px 2px 6px;
    gap: 2px;
    
    p { font-size: 8px; }
    img { height: 8px; width: 8px; }
  }

  &.normal {
    padding: 2px 8px 2px 8px;
    gap: 2px;

    p { font-size: 12px; }
    img { height: 12px; }
  }

  &.large {
    gap: 4px;
    padding: 2px 12px 2px 12px;
    
    p { font-size: 16px; }
    img { height: 16px; }
  }
}

.badge.grey { background-color: var(--color-grey-100); color: var(--color-grey-600); }
.badge.red { background-color: var(--color-red-100); color: var(--color-red-600); }
.badge.green { background-color: var(--color-green-100); color: var(--color-green-600); }
.badge.mber { background-color: var(--color-amber-100); color: var(--color-amber-600); }
.badge.blue { background-color: var(--color-blue-100); color: var(--color-blue-600); }
.badge.purple { background-color: var(--color-purple-100); color: var(--color-purple-600); }
.badge.pink { background-color: var(--color-pink-100); color: var(--color-pink-600); }
.badge.teal { background-color: var(--color-teal-100); color: var(--color-teal-600); }
.badge.brown { background-color: var(--color-brown-100); color: var(--color-brown-600); }
.badge.orange { background-color: var(--color-orange-100); color: var(--color-orange-600); }


/* Button */

/* Button -  General Styling */
.button {
  border: none;
  border-radius: 9999px;
  transition:
    background-color 200ms ease,
    border-color 200ms ease;


  &:hover {
    cursor: pointer;
  }

  &.small {
    padding: 4px 12px;
    font-size: 12px;
  }

  &.normal {
    padding: 5.33px 12px;
    font-size: 16px;
  }

  &.large {
    padding: 6.67px 20px;
    font-size: 20px;
  }

  &.small img { margin-right: 4px; max-height: 16px; }
  &.normal img { margin-right: 4px; max-height: 20px; }
  &.large img { margin-right: 8px; max-height: 24px; }

  &.danger {
    background-color: var(--color-red-500);
    color: var(--color-button_primary_text);
    transition: max-width 1s;

    &:hover {
        animation: danger-wiggle 100ms infinite;
        animation-timing-function: linear;  
    }
  }

  &.confirm {
    background-color: var(--color-green-500);
    color: var(--color-button_primary_text);
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      animation: hold-down 600ms forwards;
      animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);  
    }

    &:not(:active) {
      animation: hold-down-reversed 600ms forwards;
      animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);  
    }
  }
}

@keyframes hold-down {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.05);
  }

  40% {
    background-color: var(--color-green-500);
  }

  70% {
    transform: scale(0.80);
    background-color: var(--color-green-400);
  } 

  100% {
    transform: scale(0.85);
    background-color: var(--color-green-400);
  }
}

@keyframes hold-down-reversed {
  0% {
    transform: scale(0.85);
    background-color: var(--color-green-400);
  }

  30% {
    transform: scale(0.80);
    background-color: var(--color-green-400);
  }

  60% {
    transform: scale(1.05);
    background-color: var(--color-green-500);
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

/* Button -  Filled */
.button.filled { color: var(--color-button_primary_text); }
.button.filled.grey { background-color: var(--color-grey-500); &:hover { background-color: var(--color-grey-400); }}
.button.filled.red { background-color: var(--color-red-500); &:hover { background-color: var(--color-red-400); }}
.button.filled.green { background-color: var(--color-green-500); &:hover { background-color: var(--color-green-400); }}
.button.filled.amber { background-color: var(--color-amber-500); &:hover { background-color: var(--color-amber-400); }}
.button.filled.blue { background-color: var(--color-blue-500); &:hover { background-color: var(--color-blue-400); }}
.button.filled.purple { background-color: var(--color-purple-500); &:hover { background-color: var(--color-purple-400); }}
.button.filled.pink { background-color: var(--color-pink-500); &:hover { background-color: var(--color-pink-400); }}
.button.filled.teal { background-color: var(--color-teal-500); &:hover { background-color: var(--color-teal-400); }}
.button.filled.brown { background-color: var(--color-brown-500); &:hover { background-color: var(--color-brown-400); }}
.button.filled.orange { background-color: var(--color-orange-500); &:hover { background-color: var(--color-orange-400); }}

/* Button -  Shaded */
.button.shaded.grey { background-color: var(--color-grey-100); color: var(--color-grey-500); &:hover { background-color: var(--color-grey-200); }}
.button.shaded.red { background-color: var(--color-red-100); color: var(--color-red-500); &:hover { background-color: var(--color-red-200); }}
.button.shaded.green { background-color: var(--color-green-100); color: var(--color-green-500); &:hover { background-color: var(--color-green-200); }}
.button.shaded.amber { background-color: var(--color-amber-100); color: var(--color-amber-500); &:hover { background-color: var(--color-amber-200); }}
.button.shaded.blue { background-color: var(--color-blue-100); color: var(--color-blue-500); &:hover { background-color: var(--color-blue-200); }}
.button.shaded.purple { background-color: var(--color-purple-100); color: var(--color-purple-500); &:hover { background-color: var(--color-purple-200); }}
.button.shaded.pink { background-color: var(--color-pink-100); color: var(--color-pink-500); &:hover { background-color: var(--color-pink-200); }}
.button.shaded.teal { background-color: var(--color-teal-100); color: var(--color-teal-500); &:hover { background-color: var(--color-teal-200); }}
.button.shaded.brown { background-color: var(--color-brown-100); color: var(--color-brown-500); &:hover { background-color: var(--color-brown-200); }}
.button.shaded.orange { background-color: var(--color-orange-100); color: var(--color-orange-500); &:hover { background-color: var(--color-orange-200); }}

.button.plain { background-color: transparent; color: var(--color-text_primary); border: 1px solid transparent; box-sizing: border-box; &:hover { border-color: var(--color-grey-100); }}

@keyframes danger-wiggle {
  0% { transform: translate(0.5px, 0.2); }
  50% { transform: translate(-1px, -0.2px); }
  100% { transform: translate(0.5px, 0.4px); }
}

body {
  padding: 32px;
}