/* 

    This imports the stuff from switzer.css, 
    without this line we wont be able to use the font itself.

    Why was a custom font selected instead of a google font?
    The switzer font is specified in the design system, that was used 
    to design the website.

    Also because google fonts are certified ass, they're used too much.

    Switzer fits that paradigm of being modern and being minimal, just 
    have a look at Switzer font's numbers.

*/
@import url('../css/switzer.css');

/* 
    These are a bunch of variables that are used throughout. 
    Of course most wont be used, however it might be needed
    some time in the future so best to keep it here.

    Please refer to the design to find out what colours you
    will be using.

    Use var(--VAR-NAME-HERE) to use the variable. 
*/
:root {
    /* Background */
    --bg-primary: #ffffff;
    --bg-secondary: #f8f9fa;
    --bg-card: #f2f2f2;
    --bg-glass: #ffffff;
    --bg-glass-blur: 20px;

    /* Grey */
    --grey-100: #e1e4e8;
    --grey-200: #c8ccd1;
    --grey-300: #b0b8c0;
    --grey-400: #9da7b1;
    --grey-500: #8590a1;
    --grey-600: #6e7781;
    --grey-700: #5a6068;
    --grey-800: #464c5f;
    --grey-900: #323a3e;
    --grey-1000: #1f2327;
    --grey-1100: #14191d;

    /* Red */
    --red-100: #ffe8e8;
    --red-200: #ffc8c8;
    --red-300: #f4a6a6;
    --red-400: #eb9090;
    --red-500: #e06565;
    --red-600: #d55454;
    --red-700: #b93232;
    --red-800: #732020;
    --red-900: #591818;
    --red-1100: #3d1010;

    /* Amber */
    --amber-100: #ffedd8;
    --amber-200: #fcd8a8;
    --amber-300: #f2b860;
    --amber-400: #f0a048;
    --amber-500: #e59430;
    --amber-600: #d18c2a;
    --amber-700: #a06c08;
    --amber-800: #825209;
    --amber-900: #5c3a07;
    --amber-1000: #382305;
    --amber-1100: #141910;

    /* Green */
    --green-100: #f1e8e8;
    --green-200: #acc8b1;
    --green-300: #90c8a0;
    --green-400: #80a047;
    --green-500: #60c87a;
    --green-600: #36b767;
    --green-700: #25a652;
    --green-800: #1a5a46;
    --green-900: #2e6336;
    --green-1000: #1f3a27;
    --green-1100: #141910;

    /* Blue */
    --blue-100: #f1f7ff;
    --blue-200: #b0d7f4;
    --blue-300: #8ac0e0;
    --blue-400: #60a0c8;
    --blue-500: #3a8a9e;
    --blue-600: #1e7096;
    --blue-700: #1f7099;
    --blue-800: #165372;
    --blue-900: #0f3f54;
    --blue-1000: #093837;
    --blue-1100: #061a25;

    /* Purple */
    --purple-100: #f1e8fc;
    --purple-200: #d0c0f7;
    --purple-300: #c0a2ec;
    --purple-400: #b078d0;
    --purple-500: #9850b8;
    --purple-600: #8120bf;
    --purple-700: #6826a5;
    --purple-800: #621979;
    --purple-900: #421974;
    --purple-1000: #291047;
    --purple-1100: #190a25;

    /* Pink */
    --pink-100: #ffe8f4;
    --pink-200: #ffbed2;
    --pink-300: #f9a0c0;
    --pink-400: #eb88b6;
    --pink-500: #f06aa4;
    --pink-600: #d02c7c;
    --pink-700: #a02467;
    --pink-800: #713a83;
    --pink-900: #7b137c;
    --pink-1000: #3d0c2a;
    --pink-1100: #29071c;

    /* Teal */
    --teal-100: #e3f8f8;
    --teal-200: #bce8eb;
    --teal-300: #a1d8d8;
    --teal-400: #70c8c8;
    --teal-500: #50b8b8;
    --teal-600: #22a4a4;
    --teal-700: #297c74;
    --teal-800: #1a5a5a;
    --teal-900: #143030;
    --teal-1000: #0d2828;
    --teal-1100: #071c1b;

    /* Brown */
    --brown-100: #f2e8e3;
    --brown-200: #e0c8b0;
    --brown-300: #cfa880;
    --brown-400: #b8865e;
    --brown-500: #a06c38;
    --brown-600: #82572e;
    --brown-700: #73411f;
    --brown-800: #5f2f16;
    --brown-900: #3d200f;
    --brown-1000: #29150a;
    --brown-1100: #190b06;

    /* Semantic */
    --colour-success: #27c94a;
    --colour-warning: #f4b916;
    --colour-error: #d05858;
    --colour-info: #a8a0a7;

    /* Text and Icons */
    --colour-text-primary: #14191d;
    --colour-icon-primary: #14191d;
    --colour-text-secondary: #a8a8a8;
    --colour-icon-secondary: #585c63;

    /* Borders */
    --colour-border-primary: #e1e4e8;
    --colour-border-hover: #c8ccd1;
    --colour-border-active: #b0b8c0;

    /* Buttons */
    --colour-button-primary: var(--amber-500);
    --colour-button-primary-text: #ffffff;
    --colour-button-plain-text: #14191d;

    /* Alpha */
    --alpha-10: 0.1;
    --alpha-25: 0.25;
    --alpha-40: 0.4;
    --alpha-60: 0.6;
    --alpha-80: 0.8;
    --alpha-90: 0.9;
    --alpha-100: 1;

    /* Typography */
    --small-3: 6px;
    --small-2: 8px;
    --small-1: 12px;
    --paragraph: 16px;
    --header-6: 22px;
    --header-5: 28px;
    --header-4: 38px;
    --header-3: 50px;
    --header-2: 68px;
    --header-1: 90px;
    --header-L: 120px;
    --header-XL: 160px;
}
  
* {
    font-family: Switzer-Regular;
}

body {
    margin: 0px;
}

/* Components (buttons, drop downs, input fields and so on) */
.button-primary {
    font-family: Switzer-Regular;
    background-color: var(--colour-button-primary);
    color: var(--colour-button-primary-text);
    border-radius: 16px;
    border: none;
    padding: 5.5px 16px 5.5px 16px;
    font-size: var(--paragraph);
}

.glow-fancy-text {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--amber-500);
}

#glow-fancy {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    left: 50%;
    top: 64px;
    
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    width: 1056px;
    height: 660px;

    /* Fancy text animation */
    animation-name: glow-fancy-write, glow-fancy-fade-out, glow-fancy-animate-out;
    animation-duration: 2000ms, 1200ms, 800ms;
    animation-delay: 0ms, 2400ms, 2800ms;
    animation-timing-function: linear, linear, linear;
    animation-iteration-count: 1, 1, 1;
    animation-fill-mode: forwards, forwards, forwards;
}

#discover-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
    For some reason, I (Aldin) was only able to use a pseudo element selector 
    to be able to make a linear transparent gradient from bottom 0% to top 100%
*/
#discover-wrapper::after {
    content: ""; /* Use empty string to cause the linear-gradient to appear, without it will not make it appear :)  */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
}

#jobs-effect {
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    z-index: 0;
    opacity: 0;
    
    animation-name: jobs-effect-animate-in ;
    animation-duration: 2200ms;
    animation-delay: 2000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#discover-contents {
    z-index: 2;
    position: absolute;
    transform: translateY(0%);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;

    opacity: 0;
    animation: discover-contents-animate-in 1800ms ease-in-out 3200ms 1 forwards;
}

#discover-contents h1 {
    margin: auto;
    font-size: var(--header-1);
    color: var(--amber-1000);
    order: 0;
    flex-grow: 0;

    font-family: Switzer-Regular;
}

#discover-contents h6 {
    margin: auto;
    font-size: var(--header-6);
    color: var(--amber-1000);
    opacity: 0.6;
    padding-top: 16px;

    font-family: Switzer-Regular;
}

#discover-contents a {
    padding-top: 32px;
}

/* Animations */
@keyframes glow-fancy-write {
    from {
        stroke-dashoffset: 5000;
    }

    to {
        stroke-dashoffset: 1;
    }
}

@keyframes glow-fancy-fade-out {
    from {
        width: 1056px;
        height: 660px;
        filter: blur(0px);
    }

    to {
        width: 1256px;
        height: 785px;
        filter: blur(200px);
    }
}

@keyframes jobs-effect-animate-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes glow-fancy-animate-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes discover-contents-animate-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(-30%);
    }
}


