@font-face {
    font-family: 'Switzer';
    src: url('../src/components/fonts/Switzer-Variable.woff2') format('woff2'),
            url('../src/components/fonts/Switzer-Variable.woff') format('woff'),
            url('../src/components/fonts/Switzer-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('../src/components/fonts/Switzer-VariableItalic.woff2') format('woff2'),
            url('../src/components/fonts/Switzer-VariableItalic.woff') format('woff'),
            url('../src/components/fonts/Switzer-VariableItalic.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}